extends ./layout.pug

block body
  div.content
    section
      h2 The full document
      pre
        != JSON.stringify(doc, null, "\t")
    section
      h2 Text
      != doc.text
    section
      h2 Select
      != doc.select
    section
      h2 Timestamp
      != doc.timestamp
    section
      h2 Date
      != doc.date
    section
      h2 Number
      != doc.number
    section
      h2 Range
      != doc.range
    section
      h2 Color
      != doc.color
    section
      h2 GeoPoint
      != JSON.stringify(doc.location, null, "\t")
      p
        b latitude:
        != doc.location.latitude
      p
        b longitude:
        != doc.location.longitude
    section
      h2 Embed
      p
        b URL :
        != doc.embed.url
      p
        b HTML :
        != doc.embed.html

    h2 StructuredText
    h3 HTML
    != doc.body.asHtml(ctx.linkResolver)
    h3 Text
    != doc.body.asText()
    h3 Title
    != doc.body.title
    h3 Value
    != JSON.stringify(doc.body.value, null, "\t")
    h3 First title
    != JSON.stringify(doc.body.firstTitle(), null, "\t")
    h3 First Image
    != JSON.stringify(doc.body.firstImage(), null, "\t")
    h3 First paragraph
    != JSON.stringify(doc.body.firstParagraph(), null, "\t")
    h2 Links
    h3 WebLink
    p
      b URL
      != doc.weblink.url

    h3 MediaLink
    p
      b URL
      != doc.medialink.url

    h3 DocumentLink
    p
      b URL
      != doc.documentlink.url

    h3 Any Link
    p
      b URL
      != doc.link.url

    h2 Image
    h3 Main
    p
      b url
      != doc.photo.url
    h3 Medium View
    p
      b url
      != doc.photo.medium.url

    h2 Group
    h3 Value
    != JSON.stringify(doc.linksgroup, null, "\t")
    h3 the label
    each groupDoc in doc.linksgroup
      != groupDoc.label.asHtml(ctx.linkResolver)
      != groupDoc.link.url

    h2 SliceZone
    h3 Value
    != JSON.stringify(doc.contentslices, null, "\t")

    h2 Slices
    each slice in doc.contentslices
      h3 Value
      != JSON.stringify(slice, null, "\t")
      h3 SliceType
      != slice._sliceType
      h3 Label
      != slice._label

      h3 iteration over the group in slice
      case slice._sliceType
        when 'section-header'
          b section header
          p
            for groupDoc in slice.value
              != groupDoc.title.asText()
              != groupDoc.summary.asHtml(ctx.linkResolver)

        when 'toto'
          b video banner
          != slice.value.url
