extends ./layout.pug

block body
  div.content
    section
      h2 Text
      != doc.text
    section
      h2 Select
      != doc.select
    section
      h2 Timestamp
      != doc.timestamp
    section
      h2 Date
      != doc.date

    h2 Number
    != doc.number

    h2 StructuredText
    h3 HTML
    != doc.body.asHtml(ctx.linkResolver)
    h3 Text
    != doc.body.asText()
    h3 Title
    != doc.body.title
    h3 Value
    != JSON.stringify(doc.body.value)
