extends ./layout.pug

block body
    div.welcome
      - var img = doc.getImage("demo.photo")
      - var view = img ? img.main : null
      - var url = view ? view.url : ''
      - var alt = view ? view.alt : ''

      div.welcome-wrapper
        img(src=url alt=alt)

        h1 #{doc.getText("demo.text")}

        != doc.getStructuredText("demo.body").asHtml(ctx.linkResolver)

    div.content
      h2 UID
      p #{doc.uid}

      section
        h2 Text
        != doc.getText("demo.text")
      section
        h2 Select
        != doc.get("demo.select").value
      section
        h2 Timestamp
        != doc.getTimestamp("demo.timestamp")
      section
        h2 Date
        != doc.getDate("demo.date")

      h2 Number
      != doc.getNumber("demo.number")

      h2 StructuredText
      != doc.getStructuredText("demo.body").asHtml(ctx.linkResolver)
