extends ./layout.pug

block body
  div.content
    section
      h2 The full document
      pre
        != JSON.stringify(doc, null, "\t")
    section
      h2 Text
      != doc.text
    section
      h2 Select
      != doc.select
    section
      h2 Timestamp
      != doc.timestamp
    section
      h2 Date
      != doc.date
    section
      h2 Number
      != doc.number
    section
      h2 Range
      != doc.range
    section
      h2 Color
      != doc.color
    section
      h2 GeoPoint
      != JSON.stringify(doc.location, null, "\t")
      p
        b latitude:
        != doc.location.latitude
      p
        b longitude:
        != doc.location.longitude
    section
      h2 Embed
      p
        b URL :
        != doc.embed.url
      p
        b HTML :
        != doc.embed.html

    h2 StructuredText
    h3 HTML
    != doc.body.asHtml(ctx.linkResolver)
    h3 Text
    != doc.body.asText()
    h3 Title
    != doc.body.title
    h3 Value
    != JSON.stringify(doc.body.value)

    h2 Links
    h3 WebLink
    p
      b URL
      != doc.weblink.url
    p
      b HTML
      != doc.weblink.asHtml()

    h3 MediaLink
    p
      b URL
      != doc.medialink.url
    p
      b HTML
      != doc.medialink.asHtml()

    h3 DocumentLink
    p
      b URL
      != doc.documentlink.url
    p
      b HTML
      != doc.documentlink.asHtml(ctx.linkResolver)
