extends ./layout.pug

block body
    div.welcome
      - var img = doc.getImage("demo.photo")
      - var view = img ? img.main : null
      - var url = view ? view.url : ''
      - var alt = view ? view.alt : ''

      div.welcome-wrapper
        img(src=url alt=alt)

        h1 #{doc.getText("demo.text")}

        != doc.getStructuredText("demo.body").asHtml(ctx.linkResolver)
